<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Scoreboard</title>

      <link rel="stylesheet" href="/css/style.css">

      <script>
         function deleteUser(name, score) {
            let rt = `/api/v1/rem/?name=${encodeURIComponent(name)}&score=${encodeURIComponent(score)}`;

            fetch(rt, {
               method: 'GET',
            })
               .then(response => {
                  if (response.ok) {
                     document.location.reload();
                     console.log('User deleted successfully.');
                  } else {
                     console.error('Failed to delete user.');
                  }
               })
               .catch(error => console.error('Error:', error));
         }
      </script>
   </head>

   <body style="height: 100vh;">
      <div class="center">
         <div class="content-below-image">
            <h1 id="title">Bestenliste</h1>

            <div class="table-container">
               <table>
                  <thead>
                     <tr>
                        <th style="background-color: #2f2f2e2f;">Platz</th>
                        <th style="background-color: #2f2f2e2f;">Name</th>
                        <th style="background-color: #2f2f2e2f;">Zeit</th>
                        <th style="background-color: #2f2f2e2f;">Punkte</th>
                        <th style="background-color: #2f2f2e2f;">Aktion</th> <!-- New column for delete button -->
                     </tr>
                  </thead>
                  <tbody>
                     {{range $index, $val := .People1}}
                     <tr>
                        <td>#{{inc $index}}</td>
                        <td>{{$val.Name}}</td>
                        <td>{{formatTime $val.Time}}</td>
                        <td>{{$val.Score}}</td>
                        <td>
                           <button onclick="deleteUser('{{$val.Name}}', '{{$val.Score}}')">Delete</button>
                        </td>
                     </tr>
                     {{end}}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>