
<!-- ./views/form.html -->

<!DOCTYPE html>
<head>
  <title>Scoreboard Form</title>
</head>
<body>
  <form action="new">
   <label for="name">name:</label><br>
    <input type="text" name="name" value=""><p>
   <label for="difficulty">difficulty (1|2|3):</label><br></p>
    <input type="number" name="difficulty" value="">
   <label for="score">score:</label><br></p>
    <input type="number" name="score" value="">

    <label for="time">time:</label><br></p>
    <input type="number" name="time" value="">
    <input type="submit">
  </form>

</body>
</html>
